earthengine-api
einops==0.8.0
fiona==1.9.6
focal-loss==0.0.7
gcsfs
geopandas
gsutil
google-api-core==2.24.1
google-api-python-client==2.163.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.2
google-cloud-storage==3.1.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.69.1
matplotlib
numpy
opencv-python==4.11.0.86
openeo==0.39.1
pandas
pretrainedmodels==0.7.4
pydrive2
rasterio
scikit-image
scikit-learn
scipy
segmentation_models_pytorch
shapely
tensorflow
tensorflow-io-gcs-filesystem
torch>=2.3
torchvision
tqdm
webdataset


